we want to make a autofill system and for the option in the app to have some smaller database just with the details for each manufacturer and model. then i will prepare the data for it

In [2]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [3]:
dataset= pd.read_csv('./data/vehicles.csv')

In [4]:
non_related_columns = ['id', 'url' , 'region', 'region_url', 'image_url', 'county', 'state', 'lat', 'long', 'description']
data = dataset.drop(columns= non_related_columns)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         426880 non-null  int64
 1   year          425675 non-null  float64
 2   manufacturer  409234 non-null  object
 3   model         421603 non-null  object
 4   condition     252776 non-null  object
 5   cylinders     249202 non-null  object
 6   fuel          423867 non-null  object
 7   odometer      422480 non-null  float64
 8   title_status  418638 non-null  object
 9   transmission  424324 non-null  object
 10  VIN           265838 non-null  object
 11  drive         296313 non-null  object
 12  size          120519 non-null  object
 13  type          334022 non-null  object
 14  paint_color   296677 non-null  object
 15  posting_date  426812 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 52.1+ MB

In [5]:
data_v1 = data.dropna(subset =['year'])
data_v1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425675 entries, 27 to 426879
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         425675 non-null  int64
 1   year          425675 non-null  float64
 2   manufacturer  409228 non-null  object
 3   model         420466 non-null  object
 4   condition     252766 non-null  object
 5   cylinders     248084 non-null  object
 6   fuel          422930 non-null  object
 7   odometer      421344 non-null  float64
 8   title_status  417745 non-null  object
 9   transmission  423187 non-null  object
 10  VIN           264701 non-null  object
 11  drive         295408 non-null  object
 12  size          120519 non-null  object
 13  type          333008 non-null  object
 14  paint_color   295627 non-null  object
 15  posting_date  425675 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 55.2+ MB

In [6]:
def find_number_of_cylinedrs(manufacturer, model):
    result = data_v1.loc[lambda df_ : ((df_['manufacturer'] == manufacturer) & (df_['model'] == model) & (~df_['cylinders'].isna()))]
    if result.shape[0] == 0:
        return np.nan
    return result.iloc[0,]['cylinders']
def find_fuel(manufacturer, model):
    result = data_v1.loc[lambda df_ : ((df_['manufacturer'] == manufacturer) & (df_['model'] == model) & (~df_['fuel'].isna()))]
    if result.shape[0] == 0:
        return np.nan
    return result.iloc[0,]['fuel']


def find_transmission(manufacturer, model):
    result = data_v1.loc[lambda df_ : ((df_['manufacturer'] == manufacturer) & (df_['model'] == model) & (~df_['transmission'].isna()))]
    if result.shape[0] == 0:
        return np.nan
    return result.iloc[0,]['transmission']


def find_drive(manufacturer, model):
    result = data_v1.loc[lambda df_ : ((df_['manufacturer'] == manufacturer) & (df_['model'] == model) & (~df_['drive'].isna()))]
    if result.shape[0] == 0:
        return np.nan
    return result.iloc[0,]['drive']

def find_size(manufacturer, model):
    result = data_v1.loc[lambda df_ : ((df_['manufacturer'] == manufacturer) & (df_['model'] == model) & (~df_['size'].isna()))]
    if result.shape[0] == 0:
        return np.nan
    return result.iloc[0,]['size']

def find_type(manufacturer, model):
    result = data_v1.loc[lambda df_ : ((df_['manufacturer'] == manufacturer) & (df_['model'] == model) & (~df_['type'].isna()))]
    if result.shape[0] == 0:
        return np.nan
    return result.iloc[0,]['type']

In [7]:
data_v2=(
    data_v1
        .assign(re_cylinders = np.where(
            data_v1['cylinders'].isna(),
            find_number_of_cylinedrs(data_v1['manufacturer'],data_v1['model']),
            data_v1['cylinders']
        ))
        .assign(re_fuel = np.where(
            data_v1['fuel'].isna(),
            find_fuel(data_v1['manufacturer'],data_v1['model']),
            data_v1['fuel']
        ))
        .assign(re_transmission = np.where(
            data_v1['transmission'].isna(),
            find_transmission(data_v1['manufacturer'],data_v1['model']),
            data_v1['transmission']
        ))
        .assign(re_drive = np.where(
            data_v1['drive'].isna(),
            find_drive(data_v1['manufacturer'],data_v1['model']),
            data_v1['drive']
        ))
        .assign(re_size = np.where(
            data_v1['size'].isna(),
            find_size(data_v1['manufacturer'],data_v1['model']),
            data_v1['size']
        ))
        .assign(re_type = np.where(
            data_v1['type'].isna(),
            find_type(data_v1['manufacturer'],data_v1['model']),
            data_v1['type']
        ))
)

In [8]:
data_v2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425675 entries, 27 to 426879
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   price            425675 non-null  int64
 1   year             425675 non-null  float64
 2   manufacturer     409228 non-null  object
 3   model            420466 non-null  object
 4   condition        252766 non-null  object
 5   cylinders        248084 non-null  object
 6   fuel             422930 non-null  object
 7   odometer         421344 non-null  float64
 8   title_status     417745 non-null  object
 9   transmission     423187 non-null  object
 10  VIN              264701 non-null  object
 11  drive            295408 non-null  object
 12  size             120519 non-null  object
 13  type             333008 non-null  object
 14  paint_color      295627 non-null  object
 15  posting_date     425675 non-null  object
 16  re_cylinders     425675 non-null  object
 17  re_fuel          425675 non-null  object
 18  re_transmission  425675 non-null  object
 19  re_drive         425675 non-null  object
 20  re_size          425675 non-null  object
 21  re_type          425675 non-null  object
dtypes: float64(2), int64(1), object(19)
memory usage: 74.7+ MB

In [9]:
def find_manufacturer(model, cylinders, fuel, transmission, type):
    result = data_v2.loc[lambda df_ : ((df_['model'] == model) & (df_['re_cylinders'] == cylinders) &(df_['re_fuel'] == fuel) &
                                       (df_['re_transmission'] == transmission)&(df_['re_type'] == type) &
                                       (~df_['manufacturer'].isna()))]
    if result.shape[0] == 0:
        return np.nan
    return result.iloc[0,]['manufacturer']

In [10]:
data_v3 =(
    data_v2
        .assign(re_manufacturer = np.where(
            data_v2['manufacturer'].isna(),
            find_manufacturer(data_v2['model'],data_v2['re_cylinders'], data_v2['re_fuel'], data_v2['re_transmission'], data_v2['re_type']),
            data_v2['manufacturer']
        ))
)

In [11]:
data_v4 = data_v3.dropna(subset= ['model'])

In [12]:
data_v4.shape

(420466, 23)

In [13]:
columns= ['price', 'year', 're_manufacturer', 'model', 're_cylinders', 're_fuel', 're_transmission', 're_drive', 're_size', 're_type']
data_v5 = data_v4[columns]
data_v5.columns = data_v5.columns.str.replace('re_', '')

In [14]:
data_v5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420466 entries, 27 to 426879
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         420466 non-null  int64
 1   year          420466 non-null  float64
 2   manufacturer  420466 non-null  object
 3   model         420466 non-null  object
 4   cylinders     420466 non-null  object
 5   fuel          420466 non-null  object
 6   transmission  420466 non-null  object
 7   drive         420466 non-null  object
 8   size          420466 non-null  object
 9   type          420466 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 35.3+ MB

In [15]:
data_v5.mode()

,price,year,manufacturer,model,cylinders,fuel,transmission,drive,size,type
0,0,2017.0,ford,f-150,8 cylinders,gas,automatic,rwd,full-size,pickup

In [25]:
# import re
# pat = re.compile("^[A-Za-z0-9\'\"\,\.\(\)_-]*$")
# def pat_mach(input):
#     return pat_mach(input)
data_v6 = (
    data_v5
    .groupby('model')
    .agg(manufacturer=('manufacturer', 'last'), #max_price=('price', 'max'), min_price=('price', 'min'), avg_price=('price', 'mean'),
         cylinders=('cylinders', 'last'), fuel=('fuel', 'last'), transmission=('transmission', 'last'), drive=('drive', 'last'),
         size=('size', 'last'), type=('type', 'last'),count = ('price', 'count'))
    .reset_index()
).loc[lambda df_ : df_['count'] >2]

In [26]:
data_v6.to_csv('data_for_app.csv', index=False)

In [50]:
def details_lists_generator(data):
    details_lists = dict()
    details_lists['manufacturer'] = data.manufacturer.sort_values().unique()
    details_lists['cylinders'] = data.cylinders.sort_values().unique()
    details_lists['fuel'] = data.fuel.sort_values().unique()
    details_lists['transmission'] = data.transmission.sort_values().unique()
    details_lists['drive'] = data.drive.sort_values().unique()
    details_lists['size'] = data['size'].sort_values().unique()
    details_lists['type'] = data.type.sort_values().unique()
    return details_lists

def model_list_generator(data, manufacturer):
    model_list = data.loc[lambda df_ : df_['manufacturer'] == manufacturer]['model'].sort_values().unique()
    return model_list
    
def default_detail_generator(data, model):
    target= datamodel_list = data.loc[lambda df_ : df_['model'] == model]
    return target

In [61]:
details_lists_generator(data_v6 )['fuel'][0]

'diesel'

In [36]:
data_v6.size

93312

In [63]:
data_v1.title_status.unique()

array(['clean', 'rebuilt', 'lien', nan, 'salvage', 'missing',
       'parts only'], dtype=object)